<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70716772881-2f8a006rds0crf6u2fn6g311pbgi34lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70716772881-2f8a006rds0crf6u2fn6g311pbgi34lf</string>
	<key>API_KEY</key>
	<string>AIzaSyDsN_IM_pJ1lPmQhaVH4T1NMbR4YRO-pNs</string>
	<key>GCM_SENDER_ID</key>
	<string>70716772881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myuniquefunfun.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myuniquefunfun</string>
	<key>STORAGE_BUCKET</key>
	<string>myuniquefunfun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70716772881:ios:4d7b1a97b4defdb39517b0</string>
</dict>
</plist>